/* Another adjustment of the placing of the search-icon*/
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
/* The size of each photo*/
.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    width: 100%;
    opacity: 0.8;
    margin: 0;
}
/* The overlay-color*/
.grid figure figcaption:hover{
    background-color: rgba(0,0,0,0.5);
}
/* The border*/
.grid [class^="col"] {
    padding: 0px;
}
/* Placement of rectangle and Icon, and the overlay*/
.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Margin between photos in mobile-view */
figure.effect-ravi {
    margin: 0;
}
/* The starting point for the search-icon fadein*/
figure.effect-ravi h2,
figure.effect-ravi p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}
/* The rectangle fadeIn animation-effect*/
figure.effect-ravi figcaption::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}
/* Size of search-icon */
figure.effect-ravi p {
    width: 100px;
    text-transform: none;
    font-size: 25px;
    line-height: 2;
}
/*The color for the search-icon*/
figure.effect-ravi p a {
    color: #fff;
}
/* Hides the starting point for the search-icon fadein animation */
figure.effect-ravi p a i {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
/* The rectangle */
figure.effect-ravi:hover figcaption::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}
/* The search-icon */
figure.effect-ravi:hover p i:empty {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* just because it's stronger than nth-child */
    opacity: 1;
}