.portfolio1{
    background: url('../../readme-images/indexcut.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;    
}

.portfolio2{
    background: url('../images/portfolio2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;    
}

.portfolio3{
    background: url('../images/portfolio3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.portfolio4{
    background: url('../images/portfolio4.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;    
}

.effect-ravi{
    height: 500px;
}

.lead{
    color: #fafafa;
    padding-top: 2rem;
}