/* NAVIGATIONBAR */
.navigation-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
    margin-right: 10px!important;
    width: 100px;
}

.navbar .navbar-container {
    justify-content: flex-end!important;
    flex-direction: row-reverse;
}

/* adjusting to screen sizes */
@media(min-width: 500px) {
    .navbar .mr-auto {
        padding-left: 20%;
    }
}

@media(min-width: 1200px) {
    .navbar .mr-auto {
        padding-left: 70%;
    }
}

@media(max-width: 500px) {
    .navbar-brand .img-fluid {
        width: 200px!important;
    }
}


/* CONTAINERS */
.callout-container {
    height: 100vh;

    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Exo", sans-serif;

    position: relative;
}

.aboutme-container {
    background-color: #fafafa;

    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Exo", sans-serif;
    text-align: center;
    position: relative;
}

.timeline-container {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-container {

    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Exo", sans-serif;

    position: relative;
}

.skills-container {
    background-color: #fafafa;
    
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Exo", sans-serif;
    text-align: center;
}

/* adjusting placement of edu-container, to small screen sizes */
@media(max-width: 532px) {
    .edu-container {
    padding-top: 1000px;
    }
}

/* PROFILE IMAGE */
.profile {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 640px;
    width: 600px;
}

/* adjusting size of profile picture, to screen sizes */
@media(max-width: 600px) {
    .profile {
        width: 50%;
        height: 50%;
    }
}

@media(max-width: 320px) {
    .profile {
        position: absolute;
        bottom: 0px;
        right: 5px;
        width: 90%;
        height: 80%;
    }
}

/* JUMBOTRON */
.jumbotron {
    background-color: transparent;
    margin: 0px 150px;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #fafafa;
    margin: 25px 0;
}

/* BUTTONS */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #8b2c17;
    border-color: #8b2c17;
    color: white;
}

/* FOOTER */
#the-footer {
    font-family: "Exo", sans-serif;
    background-color: black;
    color: #a1a1a1;
    padding-top: 30px;
    text-align: center;
}

/* adjusting placing of text, to screen sizes */
@media(min-width: 578px) {
    #the-footer .alignment-left {
        text-align: left;
        padding: 0px 0px 0px 100px;
    }
}

/* ICONS */
.icon-looks {
    color: #df4929;
    font-size: 25px;
}

.icon-looks:hover {
    color: #8b2c17;
}

/* SPECIAL PADDINGS, ETC */
.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

/* TIMELINE */
.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
    margin-top: 150px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa; 
}

.history-items {
    margin-bottom: 30px;
    margin-left: 100px;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

@media(max-width: 530px) {
    .timeline-item {
        padding: 7em 0em 0em 2em!important;
    }
}

.papercut {
    padding-top: 15rem;
}

/* BUTTONS */
.btn-link {
    color: #fafafa;
    padding-left: 0px;
}

.btn-link:hover {
    color: #b1b1b1;
}

/* MODAL */
.modal-body {
    padding-bottom: 50px;
}

.modal-title,
.modal-body {
    color: #000000;
}

/* ABOUT */

.aboutme-header {
    color: #fafafa;
}

.progress-section {
    margin: 40px 20px;
}

.section-column {
    display: table-cell;
    padding: 30px 30px;
    float: none;
}
.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

span.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 20px;
}

.skills-header {
    margin-top: 50px;
}

.progress-bar {
    background-color: #df4929;
}