/* Navbar */
.navigation-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
    margin-right: 10px!important;
    width: 100px;
}

.navbar .navbar-container {
    justify-content: flex-end!important;
    flex-direction: row-reverse;
}

@media(min-width: 1200px) {
    .navbar .mr-auto {
        padding-left: 70%;
    }
}

@media(min-width: 200px) {
    .logo-header {
        width: 50%;
        height: 50%;
    }
}


/* Containers */
.callout-container {
    height: 100vh;

    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.profile {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 640px;
    width: 600px;
}

/* Jumbotron */
.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

/* Buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}